<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share your thoughts</title>
</head>
<body>
    <h1>Share your thoughts</h1>
    <p>welcome to share your thoughts with us! Please use the form below to submit your thoughts. We value your input and look forward to hearing from you.
    </p>
    <!-- Display Flashed Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <form method="post">
        <label for="thought">Your Thought:</label><br>
        <textarea id="thought" name="thought" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>